.navbar{
    background-color: #74AFAD;
    background-image: none;
}
.nav.navbar-nav.navbar-right li a {
    color: black!important;
} 
.nav.navbar-nav li a{
    color:black;
}
.navbar-header a{
    color:black!important;
}
ul.nav a:hover { color:black!important; }

.navbar a:hover {color:black!important;}

body{
    background-color: #ECECEA;
}

#page_content{
    padding: 20px;
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    background: white;
    border-radius: 20px;
    border-width: thin medium thick 10px;
    box-shadow: 5px 10px 20px ;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

